body{
    font-family: 'Avenir';
    line-height: 1.2;
}
.custom_col_3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 20px;
}

/* PROPOS SECTION */
.propos_section{
    position: relative;
    width: 100%;
    padding: 160px 0 162px;
}
.propos_section .custom_container{
    position: relative;
    z-index: 1;
}
.propos_section:before{
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: calc(50% - 85px);
    height: 400px;
    background-color: #bfb8ad;
    opacity: 0.45;
}
.propos_cont{
    position: relative;
    z-index: 1;
}
.propos_cont h2{
    color: #23234c;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 30px;
}
.propos_cont p{
    color: #23234c;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 25px;
}
.propos_para{
    width: 100%;
    padding-left: 72px;
}
.propos_img{
    position: relative;
    width: 100%;
    max-width: 438px;
    margin-left: auto;
    margin-right: 44px;
}
.propos_img:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 66px;
    height: 66px;
    transform: translate(0, 138%);
    background-color: #23234c;
    opacity: 0.40;
}
.propos_img .img{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
    z-index: 1;
}
.propos_img .img:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 70%;
    transform: translate(10%, -10%);
    background-color: #bfb8ad;
}
.propos_img .img img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}



/* engagements */
.engagements_section{
    padding: 66px 0 50px;
}
.engagements_section .custom_container{
    padding: 0 70px;
}
.engagements_cont{
    position: relative;
    width: 100%;
    max-width: 942px;
    margin: auto;
    z-index: 1;
    padding: 60px;
}
.engagements_pattern{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 63%;
    z-index: -1;
    background-color: rgba(226, 223, 218, 0.20);
}
.engagements_pattern:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 66px;
    height: 66px;
    transform: translate(-100%, 0);
    background-color: #141444;
    opacity: 0.70;
}
.engagements_pattern:after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35px;
    height: 35px;
    transform: translate(100%, 100%);
    background-color: #23234c;
    opacity: 0.70;
}
.engagements_pattern_inner{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 132px;
    height: 132px;
    transform: translate(0, -100%);
    z-index: -1;
}
.engagements_pattern_inner:before,
.engagements_pattern_inner:after{
    content: '';
    position: absolute;
    width: 50%;
    height: 50%;
}
.engagements_pattern_inner:before{
    top: 0;
    right: 0;
    background-color: #bfb8ad;
    opacity: 0.45;
}
.engagements_pattern_inner:after{
    bottom: 0;
    left: 0;
    background-color: #23234c;
}
.engagements_cont h2{
    color: #23234c;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 50px;
}
.engagements_para{
    width: 80%;
    max-width: 690px;
    margin: auto;
}
.engagements_cont p{
    color: #23234c;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
}


/* SERVICE */
.service_section{
    width: 100%;
    padding: 50px 0;
}
.service_head{
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}
.service_head h2{
    color: #23234c;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 30px;
}
.service_head p{
    width: 100%;
    max-width: 600px;
    margin: auto;
    color: #23234c;
    font-size: 24px;
}
.service_layer{
    width: 100%;
    max-width: 1068px;
    margin: auto;
}
.service_layer_img{
    width: 100%;
    max-width: 277px;
    margin: 0 auto 30px 0;
}
.service_layer_img .img{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.13);
}
.service_layer_img .img img{
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    height: 80%;
    object-fit: contain;
    margin: auto;
}
.service_layer_cont{
    position: relative;
}
.service_layer_cont:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-28%,-50%);
    width: 100%;
    height: 70%;
    background-color: #23234c;
    z-index: -1;
}
.service_cont_sub{
    position: relative;
    width: 100%;
    max-width: 735px;
    margin-left: auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.13);
    padding: 60px 55px 50px;
    z-index: 2;
    background-color: #FFFFFF;
}
.service_layer_cont h4{
    color: #23234c;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 40px;
}
.service_layer_cont p,
.service_layer_cont li{
    color: #23234c;
    font-size: 20px;
    margin-bottom: 30px;
}
.service_layer_cont ul{
    padding-left: 20px;
}
.service_layer_cont li{
    list-style-type: disc;
    margin-bottom: 5px;
}


/* Management */
.management_section{
    width: 100%;
    padding: 50px 0;
}
.management_head{
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}
.management_head h2{
    color: #23234c;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 30px;
}


/* Media */
.media_section{
    position: relative;
    width: 100%;
    padding: 50px 0;
}
.media_bg_pattern{
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100%;
    height: 40%;
    background-color: #e2dfda;
    opacity: 0.25;
    z-index: -1;
}
.media_block{
    width: 100%;
    padding: 15px 0;
}
.media_head{
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}
.media_head h2{
    color: #23234c;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 30px;
}
.media_img{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
    background-color: rgba(191, 184, 173, 0.6);
    margin-bottom: 20px;
}
.media_img img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.media_cont p{
    color: #23234c;
    font-size: 24px;
    line-height: 1.4;
}


@media (max-width: 991px){
    .propos_section{
        padding: 100px 0;
    }
    .propos_section:before{
        top: auto;
        bottom: 0;
        transform: translate(0, -137px);
    }
    .propos_section .custom_col_6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .propos_para{
        padding-left: 50px;
    }
    .propos_img{
        margin-top: 50px;
    }
    .engagements_cont{
        padding: 40px;
    }
    .service_cont_sub{
        padding: 40px;
    }
    .media_section .custom_col_3 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width: 767px){
    .propos_section{
        padding: 50px 0;
    }
    .propos_section:before{
        width: 70%;
        height: 250px;
    }
    .propos_cont h2,
    .engagements_cont h2,
    .service_head h2,
    .management_head h2,
    .media_head h2{
        font-size: 30px;
    }
    .propos_cont h2{
        margin-bottom: 20px;
    }
    .propos_para{
        padding-left: 20px;
    }
    .propos_cont p{
        margin-bottom: 15px;
    }
    .propos_cont p,
    .engagements_cont p,
    .service_layer_cont p,
    .service_layer_cont li{
        font-size: 16px;
    }
    .propos_img{
        max-width: 300px;
    }
    .engagements_section{
        padding: 50px 0 30px;
    }
    .engagements_cont h2{
        margin-bottom: 20px;
    }
    .service_section{
        padding: 30px 0;
    }
    .service_head h2{
        margin-bottom: 15px;
    }
    .service_head p,
    .media_cont p{
        font-size: 18px;
    }
    .service_layer_cont h4{
        margin-bottom: 15px;
    }
    .service_layer_cont p{
        margin-bottom: 10px;
    }
    .propos_img:before,
    .engagements_pattern:before{
        width: 40px;
        height: 40px;
    }
    .engagements_pattern_inner{
        width: 80px;
        height: 80px;
    }
    .engagements_pattern:after{
        width: 20px;
        height: 20px;
    }
    .engagements_cont{
        padding: 20px;
    }
    .engagements_para{
        width: 90%;
    }
    .management_section{
        padding: 30px 0;
    }
    .management_head h2{
        margin-bottom: 15px;
    }
    .media_section{
        padding: 30px 0;
    }
    .media_head{
        margin-bottom: 30px;
    }
    .media_head h2{
        margin-bottom: 15px;
    }
    .media_img{
        margin-bottom: 10px;
    }
}
@media (max-width: 575px){
    .engagements_section .custom_container{
        padding: 0 20px;
    }
    .service_layer .custom_col_4,
    .service_layer .custom_col_8{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .service_layer_cont:before{
        top: 0;
    }
    .service_cont_sub{
        padding: 20px;
    }
    .media_section .custom_col_3 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}